<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
	<Prefer32Bit>true</Prefer32Bit>
    <Configuration>Release</Configuration>
    <Platform>x86</Platform>
    <PublishDir>bin\Release\net8.0-windows\publish\win-x86</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <_TargetId>Folder</_TargetId>
    <TargetFramework>net8.0-windows</TargetFramework>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>

	<!-- Framework-dependent build -->
	<SelfContained>false</SelfContained>

	<!-- Performance & size optimizations -->
	<PublishSingleFile>true</PublishSingleFile>
	<IncludeAllContentForSelfExtract>false</IncludeAllContentForSelfExtract>
	<!-- <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile> -->

	<!-- Remove debugging -->
	<DebugType>none</DebugType>
	<DebugSymbols>false</DebugSymbols>
	<Optimize>true</Optimize>

	<!-- Remove unused IL -->
	<!-- commented the following lines since its not supported in winforms apps
	<PublishTrimmed>true</PublishTrimmed>
	<TrimMode>link</TrimMode>
	<EnableTrimAnalyzer>true</EnableTrimAnalyzer>
	-->

	<!-- Ahead-of-Time compilation -->
	<PublishReadyToRun>true</PublishReadyToRun>
	<PublishReadyToRunShowWarnings>true</PublishReadyToRunShowWarnings>

	<!-- Use Crossgen2 AOT -->
	<PublishReadyToRunUseCrossgen2>true</PublishReadyToRunUseCrossgen2>

	<!-- Strip globalization support if not needed -->
	<InvariantGlobalization>true</InvariantGlobalization>
  </PropertyGroup>
</Project>
